body {
    font-family: sans-serif;
    line-height: 1.6;
    margin: 0;
    background-color: #62BBFF;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}
input[type="file"] {
    margin-bottom: 10px;
}
button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
#status {
    margin-top: 15px;
    font-weight: bold;
}

.image-wrapper {
    position: relative;
    display: inline-block;
    text-align: left;
  }

.background-image {
display: block;
max-width: 100%;
height: auto;
}

.upload-container {
    position: absolute;
    top: 24%;    /* 50% from top of image */
    left: 50%;   /* 50% from left of image */
    transform: translate(-50%, -50%); /* center the container */
    border-radius: 5px;
    border: #ccc 2px solid;
    padding: 20px;
}

.overlay-component {
top: 100px;
left: 150px;
}

#imposeBtn {
top: 160px;
left: 150px;
}

#status {
top: 220px;
left: 150px;
color: grey;
}

@media screen and (max-width: 768px) {
 .upload-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 9%;
    padding: 2px 10px 2px 10px;
 }

button {
    position: static; /* or just remove if not set */
    top: auto;
    left: auto;
    padding: 6px 7px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 10px;
    top: 0px;
    left: 0px;
}

#status {
    position: static; /* or just remove if not set */
    top: auto;
    left: auto;
    margin: 2px;
    font-size: 10px;
    top: 0px;
    left: 0px;
}

input[type="file"]{
    position: static; /* or just remove if not set */
    top: auto;
    left: auto;
    margin: 5px;
    font-size: 10px;
}

.overlay-component {
    position: static; /* or just remove if not set */
    top: auto;
    left: auto;
    top: 0px;
    left: 0px;
}

}